#gomoku_board TD {
	width: 2em;
	height:2em;
	border:1px solid black;
	text-align:center;
  }
  
  #gomoku_board {
    position:absolute;
    top: 220px;
    bottom: 100 px;

  }
 /* #board {
    text-align: center;
    position: relative;
  }
  
  #gmk_background {
    width: 620px;
    height: 620px;	
    position: relative;
    display: inline-block;
  }
  
  #gmk_pic {	
    background-image: url( 'images/boardbg.jpg');
    width: 620px;
    height: 620px;
    position: absolute;	
  }
*/
#game_initializer{
  position:absolute;
  left: 190px;
  bottom: 500px;

}

#username, #piece_color, #login{
  margin: 5px;

}

#game_info{
  position:absolute;
  right: 190px;
  bottom: 500px;
}

body{
	background-image:url('../images/sakura.png');
	background-repeat: no-repeat;
	background-size:100% 100%;

}
html{
	height:100%;
}

#title{
  border-top: 100px #B1763A solid;
  border-right: 60px solid transparent;
  width: 550px;
  opacity: 0.4;
}

#text {
  margin-top: -130px;
  padding-left: 50px;
  color: white;
  font-family: Brush Script MT, Brush Script Std;
  font-size:100px;
}

